@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Packt.Shared.Employee
<div class="card border-dark mb-3" style="max-width: : 18rem;">
    <div class="card-header">
        @Model.FirstName
        @Model.LastName
    </div>
    <a asp-page="EmployeeInfo" asp-route-id="@Model.EmployeeID"> 
        <div class="card-body text-dark">
        <h5 class="card-title">@Model.Country</h5>
        <p class="card-text">@Model.Notes</p>
    </div>
    </a>
</div>