@page
@using Packt.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PacktFeatures.Pages.EmployeeInfoPageModel
<div class="card border-dark mb-3" style="max-width: : 18rem;">
    <div class="card-header">
        @Model.Employee.FirstName
        @Model.Employee.LastName
    </div>
    <a href="" asp-for="@Model">
        <div class="card-body text-dark">
        <h5 class="card-title">@Model.Employee.Country</h5>
        <p class="card-text">@Model.Employee.Notes</p>
        @foreach (var order in Model.Employee.Orders)
        {
            <p>@order.OrderID</p>
            <p>@order.ShipVia</p>
            <p>@order.Freight</p>
        }
    </div>
    </a>
</div>