@page
@using Packt.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PacktFeatures.Pages.EmployeeInfoPageModel
<div class="card border-dark mb-3" style="max-width: : 18rem;">
    <div class="card-header">
        @Model.Employee
        @Model.Employee.LastName
    </div>
    EMPLOYEEEEEE
    <a href="" asp-for="@Model">
        <div class="card-body text-dark">
        <h5 class="card-title">@Model.Employee.Country</h5>
        <p class="card-text">@Model.Employee.Notes</p>
    </div>
    </a>
</div>